*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shard style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
    
}

.color-orange{
    color: #FD6E0A
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

.section-heading{
    width: 90%;
    max-width: 1258px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;   
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575; 
     
     
}

.text-center {
    text-align: center;
}


/* main style */

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png) , url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position:top left, bottom right;
    padding-top: 50px;
}

nav{
    width: 90%;
    max-width: 1258px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items:center;
}

nav .menu a{
    font-size: 20px; 
    color: #474747;
    text-decoration: none;
    
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 700px;
}


#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    color: #181818;
    font-weight: 900;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    font-weight: 400px;
    line-height: 30px;
    margin-bottom: 30px;
    
}

#banner .banner-image img{
    max-width: 676px;
    vertical-align: middle;
}

#about, #skills, #resume{
    padding-top: 130px;
}

#about .about-container{
    width: 90%;
    max-width: 1258px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}


#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    
    
}

.about-info .info-card{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
    
}

.about-info .info-card h4{
    font-size: 20px;
    color: #474747;
}



#skills .skills-container{
    width: 90%;
    max-width: 1258px;
    margin: 0 auto;
    
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
    
}

.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000034;
    /* max-width: 267px; */
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 28px;
    color: #757575;
}

#resume .resume-container{
    width: 90%;
    max-width: 1258px;
    margin: 0 auto;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding-top: 130px;
    padding-bottom: 130px;
}  

footer .footer-container{
    width: 90%;
    max-width: 1258px;
    margin: 0 auto;
    display: flex;
    gap: 115px;
}

.footer-container .social{
    max-width: 562px;
}

.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;

}

.footer-container .social p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;

}

.footer-container .icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"], 
.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;


}


